.rejestracjaBox {
  margin-top: 10%;
  margin-left: 25%;
  margin-right: 25%;
} 

.box-helper {
    height: 530px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: white;
    border-radius: 8px;
}
  .rejestracjaBox p {
    font-size: 35px;
    text-align: center;
    color: #1D3557;
  }

  .form-group {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
  }
  
  .form-control {
    background-color: #EDEFF2;
    height: 30px;
    width: 90%;
    border: none;
    border-radius: 8px;
  }

  .form-group label{
    font-size: 18px;
    font-weight: bold; 
  }

  .form-buttons {
    display: flex;
    justify-content: center;
  }

  #btn-change {
    float: right;
    margin-right: 5%;
    margin-bottom: 2%;
    height: 40px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  #btn-delete {
    float: right;
    margin-right: 5%;
    margin-bottom: 2%;
    height: 40px;
    background-color: #c14242f3;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  
  #btn-delete:hover {
    background-color: #d01616;
  }
  .response {
    margin-top: 1%;
    margin-left: 25%;
    margin-right: 25%;
    background-color: white;
    border-radius: 8px;
    height: fit-content;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    color: red;
    font-size: 15px;
    text-align: center;
  }
  #border {
    border-bottom-style: solid;
    border-bottom-color: white;
    border-bottom-width: 1px;
}

  @media only screen and (max-width: 1820px){
    .rejestracjaBox p {
      margin-bottom: 5%;
    }
    .rejestracjaBox {
      margin-top: 10%;
    } 
}
