<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Common/mainSchema.css">
    <link rel="stylesheet" href="/News/news.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
    <!-- MDB -->
    <title>PrzejedźSię</title>
</head>
<body>
    <div class="wrapper">
        <nav>
            <div class="logo">
                <img src="../Resources/logo.png">
            </div>
            <div class="menuList">
                <ul>
                    <li id="active"><i class="fas fa-th-large"></i>Aktualności</li>
                    <a href="/timetable"> <li><i class="fas fa-bus"></i>Rozkład</li> </a>
                    <a href="/buyTicket"><li><i class="fas fa-ticket-alt"></i>Kup bilet</li></a>
                    <a href="/help"><li><i class="far fa-file-alt"></i>Pomoc</li></a>
                </ul>
            </div>
            <div class="menuButtons">
                <a href="/auth/login"><button type="submit" class="btn">Zaloguj się</button></a>
                <a href="/auth/register"><button type="submit" class="btn">Zarejestruj się</button></a>
            </div>
        </nav>
        <div class="content">
            <div class="title"><h1>Aktualności</h1></div>
            <div class="aktualnosciBox">
                <div class="komunikaty">
                    <div class="title"><h3>KOMUNIKATY</h3></div>
                    <div class="newsBox">
                        <p style="padding-top:5px; text-align:center; font-weight: bold; font-size:2.3vh;">ZMIANY NA LINII NR 1</p><br>
                        <p style="text-align:center;">W ostatnich dniach nastąpiła zmiana trasy a także przystanków na linii autobusowej numer 1. </p>
                        
                    </div>
                    <div class="newsBox">
                        <p style="padding-top:2px; text-align:center; font-weight: bold; font-size:2.3vh;">LIKWIDACJA LINII NR 15</p><br>
                        <p style="text-align:center;">Wraz z dniem 20 stycznia linia autobusowa numer 15 zgodnie z wcześniejszymi zapowiedziami
                            została zlikwidowana. </p>
                    </div>
                    <div class="newsBox">
                        <p style="padding-top:2px; text-align:center; font-weight: bold; font-size:2.3vh;">NOWA TURA REKRUTACJI</p><br>
                        <p style="text-align:center;">Dnia 23 stycznia ruszyła kolejna rekrutacja na kierowców autobusowych, wszystkich
                            chętnych prosimy o kontakt telefoniczny.
                        </p>
                    </div>
                </div>
                <div class="informacje">
                    <div class="title"><h3>INFORMACJE</h3></div>
                    <div class="newsBox">
                        <p style="padding-top:2px; text-align:center; font-weight: bold; font-size:2.3vh;">ZMIENIAMY SIĘ DLA CIEBIE!</p><br>
                        <p style="text-align:center; font-size:1.9vh;">MPK SA z uwagą obserwuje nowe rozwiązania w zakresie zeroemisyjnego zasilania autobusów.
                            Stąd decyzja przewoźnika o rozpoczęciu eksploatacji autobusów wodorowych.Już w następnym miesiącu na ulice miast wyjedzie pierwszy autobus wodorowy.
                        </p>
                    </div>
                    <div class="newsBox">
                        <p style="padding-top:2px; text-align:center; font-weight: bold; font-size:2.3vh;">MPK kupuje małe autobusy</p><br>
                        <p style="text-align:justify; font-size:1.9vh;">W poniedziałek, 19 stycznia MPK SA po raz drugi ogłosiło 
                            postępowanie przetargowe na dostawę w formie leasingu 4 autobusów mini o długości do 7,6 m
                             (w pierwszym postępowaniu nie wpłynęła żadna oferta). 
                             Zainteresowani dostawcy mają czas do 17 stycznia 2023 roku na przesłanie swoich ofert.
                        </p>
                    </div>
                    <div class="newsBox">
                        <p style="padding-top:2px; text-align:center; font-weight: bold; font-size:2.3vh;">MPK S.A. zdobyło tytuł Solidnego Pracodawcy</p>
                        <p style="text-align:justify; font-size:1.9vh;"> W piątej edycji prestiżowego konkursu „Solidny Pracodawca Roku”
                            Miejskie Przedsiębiorstwo Komunikacyjne S.A. zostało uznane za „Solidnego pracodawcę 2023 roku”.
                             Organizatorzy tego prestiżowego programu docenili przewoźnika za to, że z wyróżnieniem wywiązuje
                              się ze swoich zobowiązań względem pracowników.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>