<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
    <link rel="stylesheet" href="/Common/mainSchema.css">
    <link rel="stylesheet" href="/UserPages/buyTicketAuthorized.css">


    <title>PrzejedźSię</title>

</head>



<body>

<div class="wrapper">

    <nav>
        <div class="logo">
            <img src="../Resources/logo.png">
        </div>
        <div class="menuList">
            <ul>
                    <a href="/user/news">  <li><i class="fas fa-th-large"></i>Aktualności</li> </a>
                    <a href="/user/timetable"> <li><i class="fas fa-bus"></i>Rozkład</li> </a>
                    <a href="/user/buyTicket"> <li id = "active"><i class="fas fa-ticket-alt"></i>Kup bilet</li> </a>
                    <a href="/user/help">  <li><i class="far fa-file-alt"></i></i>Pomoc</li></a>

                    <div id="border"><br></div>
                    <a href ="/user/myTickets"> <li><i class="fas fa-credit-card"></i></i>Moje bilety</li></a>
                    <a href="/user/notifications"> <li ><i class="far fa-bell"></i></i>Moje powiadomienia</li> </a>
                    <a href="/user/account"><li><i class="fas fa-cog"></i></i>Zarządzaj kontem</li></a>
                </ul>
        </div>
        <div class="menuButtons">
            <a href="/logout"><button type="submit" class="btn"><i class="fas fa-sign-out-alt"></i> Wyloguj się</button></a>
        </div>
    </nav>

    <div class="content">

        <div class="sign-dostepne-bilety">
        <h2> Dostępne bilety </h2>
        </div>

        <div class="cena">
            <a href="./ticketPrices"> <p> Sprawdź cenę biletów </p> </a>
        </div>


        <form action="/ticket/buyTicket" method = "POST">

        <div class = "grid-container-background">


            <div class="grid-main-item-typ_biletu">
                <p> <b>  Wybierz typ biletu </b> </p>
                <div class="buttons_1">
                    <input id="radio_1" class="radio isHidden" name="radio_a" type="radio" value="1"  >
                    <label for="radio_1" class="label">
                        <div> Ulgowy </div>
                    </label>

                    <input id="radio_2" class="radio isHidden" name="radio_a" type="radio" value="0" >
                    <label for="radio_2" class="label">
                        <div>  Normalny </div>
                    </label>
                </div>
            </div>


            <div class="grid-main-item-dlugosc_trwania">
               <p> <b> Wybierz długość trwania biletu </b> <p>

                <div class="buttons_2">
                    <input id="radio_3" class="radio isHidden" name="radio_b" type="radio" value="30" >
                    <label for="radio_3" class="label-2"> 1 mc </label>

                    <input id="radio_4" class="radio isHidden" name="radio_b" type="radio" value="60" >
                    <label for="radio_4" class="label-2"> 2 mc </label>

                    <input id="radio_5" class="radio isHidden" name="radio_b" type="radio" value="150" >
                    <label for="radio_5" class="label-2"> 5 mc </label>
                </div>
            </div>

            <div class="grid-main-item-linie">
                <p> <b> Wybierz na jakie linie chcesz kupić bilet  </b> </p>

                <div class="buttons_3">

                    <input id="radio_6" class="radio isHidden" name="radio_c" type="radio" value="bilet_na_wszystkie_linie" >
                    <label for="radio_6" class="label-3"> Bilet na wszystkie linie </label>

                    <div id="glupi_przycisk">

                    <input id="radio_7" class="radio isHidden" name="radio_c" type="radio" value="bilet_na_jedna_linie" >
                    <label for="radio_7" class="label-4" id="label-4-a">
                        <div id = "line_sign"> Bilet na jedną linię </div>
                        <input id="line_input" class="form-control" type="text" placeholder="Podaj numer linii" id="line_sign" name="line_sign" >
                    </label>
                    </div>
                </div>
            </div>

            <div class="grid-main-item-formularz">
                <p> <b> Wypełnij formularz </b> </p>
            <div class="backgroud-form" >
                    <div class="form-group">
                        <br>
                        <label for="imie">Imię</label>
                        <input type="text" class="form-control" id="imie" name="imie" required>
                    </div>
                    <div class="form-group">
                        <label for="nazwisko">Nazwisko</label>
                        <input type="text" class="form-control" id="nazwisko" name="nazwisko" required>
                    </div>
                    <div class="form-group">
                        <label for="email">E-Mail</label>
                        <input type="text" class="form-control" id="email" name="email" placeholder="name@example.com" required>
                    </div>
                    <div class="form-group">
                        <label for="dateofstart"> Wybierz datę startu biletu</label>
                        <input type="date" class = "form-control" name="dateofstart" id="dateofstart" required>
                    </div>
                </div>
            </div>



        </div>
            <br>
             <button type="submit" class="btn-own" id ="savesubmit" > <b> Zatwierdź </b> </button>
        </form>


    </div>
</div>
</body>
</html>