/*dla podstrony*/


.title_rozklad {
    width: 100%;
    font-size: 20px;
    text-align: center;
    color: #1D3557;
    border-radius: 6px;
    padding-bottom: 1%;
    padding-top: 1%;
}

.subtitle{
    text-align: center;
    color: #1D3557;
}


.kierunkiBox {
    margin: 0 100px;
    padding-bottom: 8%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr))
}

.kierunek {
    margin-top: 25px;
    padding-top: 10px;
    padding-bottom: 25px;
    background-color: #dee3f5;
    height: auto;
    border-radius: 8px;
    border: 2px solid #000000;
}

.przystanek{
    margin-top: 2%;
    margin-left: 7%;
    font-size: 2.5vh;
    margin-bottom: 2%;
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
}


